* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.books {
  margin-left: 39%;
  margin-bottom: 1%;
  margin-top: 3%;
}

#book-collection {
  border: 2px solid #000;
  margin: auto;
  background: #fff;
  width: 475px;
  height: fit-content;
}

.display-collection {
  display: flex;
  flex-direction: row;
  background-color: silver;
  margin: 12px;
}

.display-collection button {
  margin-left: 42%;
}

.book-info {
  width: 25%;
}

#book-info-author {
  margin-left: -50px;
}

span {
  margin: 8px;
}

.forms-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-top: 3%;
}

h2 {
  margin-left: 68px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-input {
  height: 20px;
  margin-bottom: 12px;
}

.addbtn {
  border: 2px solid;
  margin-left: 90.4%;

}

#title {
  height: 20px;
  border: 1px solid;
  width: 50vh;
}

#author {
  height: 20px;
  border: 1px solid;
  width: 50vh;
}

.delete {
  width: 17%;
  float: right;
  border: 2px solid #000; 
  box-shadow: 0 4px 5px;
}

.awesomeB {
  background-color: gray;
  margin-top: 20px;
  margin-left: 60px;
  width: 550px;
  height: 30px;
}

.copyR {
  border: 2px solid #000 ;
  margin-top: 50px;
  margin-left: -50PX;
  width: 400px;
  height: 30px;
}

.linked {
  width: 100%;
}

.linked ul {
  display: flex;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

.linked ul li {
  height: 30px;
  border: 1px solid;
  list-style: none;

}

.linked ul li a {
  text-decoration: none;
  color: #000;

}

.copyright {
  border: 2px solid #000;
  width: 480px;
  height: 30px;
  margin-left: 100px;
  margin-top: 20px;
}

.new {
  background-color: gray;
  margin-top: 20px;
  margin-left: 60px;
  width: 550px;
  height: 30px;

}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.contact-info h1 {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 20px;
}

.contact-info input {
  border: 2px solid #000 ;
  margin-top: 50px;
  width: 400px;
  height: 30px;
}

.info {
  background-color: gray;
  margin-top: 20px;
  margin-left: 60px;
  width: 550px;
  height: 30px;
}